@font-face {
  font-family: 'NauticGroteskBold';
  src: url('../fonts/nautic_grotesk_bold.woff2') format('woff2'),
       url('../fonts/nautic_grotesk_bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma';
  src: url('../fonts/dharma_type_regular.woff2') format('woff2'),
       url('../fonts/dharma_type_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BNTGothic';
  src: url('../fonts/bnt_times_gothic.woff2') format('woff2'),
       url('../fonts/bnt_times_gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}