/*
 * global styles
*/

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    color: $blue;
    font-family: $font-family;
    background: $background-color;
}

a {
    color: $blue;

    &:hover {
        color: $blue;
    }
}

img {
    max-width: 100%;
}

p {
    font-size: 15px;
    letter-spacing: 0;

    &.p-explainer {
        color: $green;
    }

    .p-emphasis {
        color: $blue;
        background: $yellow;
        font-style: italic;
    }

    &.subtext {
        line-height: 1;
    }

    .bold-text {
        font-family: $sans-serif-font-family;
        font-size: 18px;
        font-weight: bold;
    }
}

textarea {
    border: 1px solid $olive;
    border-radius: 0;
    resize: none;

    &.form-control {
        border: 1px solid $olive;
        border-radius: 0;
    }
}

/* Basis for rem function; increase/decrease to change sizes globally */
html {
    font-size: 100%;
}

/* Function */
@function rem($pixels) {

    @return #{$pixels / 16px}rem;

}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $green;
    font-family: $heading-font-family;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    .bookly-form & {
        color: $blue;
        font-family: $heading-font-family !important;
    }
}

h1 {
    font-size: rem(80px);
    line-height: rem(77px);

    .bookly-form & {
        font-size: rem(80px);
    }
}

h2 {
    font-size: rem(38px);
    line-height: rem(36px);

    .bookly-form & {
        font-size: rem(36px);
    }
}

h3 {
    font-size: rem(28px);
    line-height: rem(27px);

    .bookly-form & {
        font-size: rem(28px);
    }
}

// form controls
input[type="text"],
input[type="password"],
.input-text,
.wc-stripe-elements-field {
    // woocommerce
    padding: 0 10px;
    height: 35px;
    color: $blue !important;
    font-size: 0.88rem; // 14px
    line-height: 35px !important;
    background: transparent;
    border: 1px solid $olive;

    &::placeholder {
        color: $blue;
    }

    .header .search-form & {
        color: $white !important;
    }
}

.woocommerce-billing-fields {
    label {
        visibility: hidden;
        height: 0;
    }
}


// custom matriarchy build classes
.mb-borders {
    border: 1px solid $blue;

    &--left {
        border-left: 1px solid $blue;
    }

    &--right {
        border-right: 1px solid $blue;
    }

    &--desktop-only {
        @include media-breakpoint-down(md) {
            border: 0 !important;
        }
    }

    &--pink {
        border-color: $pink;
    }

    &--green {
        border-color: $green;
    }
}

.mb-hr,
hr.mb:not([size]) {
    color: $blue;
    opacity: 1;
}

.mb-hr {
    &--olive {
        color: $olive;
    }
}

.desktop-break {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

#sidebar,
.edit-link {
    display: none;
}