// Theme Colors
$white:     #ffffff;
$black:     #000000;
$yellow:    #fbf8ea;
$pink:      #f7cbad;
$green:     #555433;
$blue:      #2d457c;
$olive:     #bbb69b;

// Globals
$background-color:      $yellow;
$font-color:            $blue;

$padding-small: 20px;
$padding-medium: 28px;
$padding-large:  45px;

$margin-top-medium: 33px;
$margin-top-large: 65px;
$margin-bottom: 42px;

$max-content-width:     1440px;

// Fonts
$font-family: 'Dharma', Fallback, monospace;
$heading-font-family: 'NauticGroteskBold', Fallback, sans-serif;
$sans-serif-font-family:  'BNTGothic', Fallback, sans-serif;
