.header {
    background: $blue;

    @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
    }

    &__logo {
        align-items: center;
        justify-content: space-around;
        background: $pink;

        @include media-breakpoint-up(md) {
            padding-left: $padding-medium;
            padding-right: 13px;
            max-width: 327px;
        }

        @include media-breakpoint-up(lg) {
            padding-left: $padding-large;
            padding-right: $padding-medium;
            max-width: 540px;
        }

        @include media-breakpoint-down(md) {
            padding-left: $padding-small;
            padding-right: $padding-small;
        }
    }

    &__nav {
        background: $blue;

        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column-reverse;
        }

        @include media-breakpoint-up(md) {
            padding-left: 16px;
            padding-right: $padding-medium;
        }

        @include media-breakpoint-up(lg) {
            padding-left: $padding-small;
            padding-right: $padding-large;
        }
    }

    &__nav-container {
        display: flex;
        flex-direction: column-reverse;
        max-height: auto;
        transition: max-height 0.5s ease-in;

        @include media-breakpoint-up(md) {
            flex-direction: column;
            overflow: hidden;
        }

        &.invisible {
            @include media-breakpoint-down(md) {
                max-height: 0;
            }

            @include media-breakpoint-up(md) {
                visibility: visible !important;
            }             
        }
    }

    &__account {
        @include media-breakpoint-down(md) {
            background: $green;
        }

        .col-md-6 {

            @include media-breakpoint-up(md) {
                border-right: 1px solid $pink;
            }
        }

        .col-md-6 + .col-md-6 {
            border: 0;
        }
    }

    &__search-container {
        @include media-breakpoint-down(md) {
            padding: 13px $padding-small;
        }
    }
}