.article {

    .featured-pros & {
        max-width: 335px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        border: 1px solid $olive;

        .related-articles & {
            border-color: $blue;
        }
    }

    &__image-wrapper {
        overflow: hidden;
    }

    &__image-container {
        height: 311px;
        background-size: cover;
        background-position: 50%;

        .related-articles & {
            height: 317px;

            @include media-breakpoint-up(md) {
                height: 317px;
            }
        }

        .featured-pros & {
            height: 126%;
            width: 120%;
        }
    }

    &__title {
        padding: 14px 16px;
        background: $white;

        .featured-pros & {
            padding: 0;
            font-family: $heading-font-family;
            text-transform: uppercase;
            font-size: 28px;
            line-height: 26px;
            letter-spacing: 0.03em;
        }

        .diy-inspiration & {
            color: $yellow;
            background: transparent;
            border-top: 1px solid $olive;
        }
    }

    &__name {
        height: auto !important;
        font-size: 20px;
        font-family: $sans-serif-font-family;
    }

    &__terms {
        .featured-pros & {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .entry-meta {
        margin-top: -1px;

        span {
            height: 33px;
            line-height: 33px;
        }

        .row {
            align-items: flex-start;
        }
    }

    &__date {
        width: 110px;
        height: 33px;
        border: 1px solid $olive;
        border-width: 0 0 1px 1px;

        .related-articles & {
            border-color: $blue;
        }

        span {
            display: inline-flex;
            justify-content: center;
            line-height: 33px;
            width: 40px;
            border-right: 1px solid $olive;

            &:last-child {
                border-right: 0;
            }

            .related-articles & {
                border-color: $blue;
            }
        }
    }

    &__meta {
        flex: 1;
        padding-top: 32px;
        border: 1px solid $olive;
        border-top: 0;

        span {
            border-top: 1px solid $olive;

            .related-articles & {
                border-color: $blue;
            }
        }

        .related-articles & {
            border-color: $blue;
        }
    }

    &__author {
        .diy-inspiration & {
            color: $pink;
        }
    }

    .featured-pros & {
        height: 184px;

        .col-6 + .col-6 {
            border-left: 0;
        }

        &.featured-pros__view-all {
            height: 50px;
            line-height: 50px;
            text-align: center;

            @include media-breakpoint-up(lg) {
                height: 78px;
                line-height: 78px;
            }
        }
    }
}