$border:    1px solid $blue;

.booking-card {
    background: $white;
    border: $border;

    &__label {
        border-bottom: $border;
        border-right: $border;
    }

    .col-4+.col-4 {
        border-left: $border;
    }

    &__detail {
        @include media-breakpoint-up(md) {
            border-right: $border;
            font-size: 36px;
        }

        @include media-breakpoint-down(md) {
            border-bottom: $border;
        }
    }

    &__action {
        background: $pink;

        @include media-breakpoint-up(md) {
            border-top: $border;
        }
    }
}