.button,
.ladda-button {
  height: 60px;
  color: $blue;
  font-size: 16px;
  width: 100%;
  background: $pink;
  border: 1px solid $olive;

  &:after {
    content: '';
    display: inline-flex;
    margin-left: 8px;
    height: 8px;
    width: 24px;
    background-image: url('../images/arrow_blue.png');
    background-repeat: no-repeat;
  }
}

a.button--text,
button.button--text {
  color: $blue;
}

.woocommerce button.button {
  color: $pink;
  background-color: $blue;

  &:after {
    background-image: url('../images/arrow_white.png');
  }
}

.woocommerce button.button.alt {
  color: $pink;
  background-color: $blue;
  border-radius: 0;

  &:after {
    content: '';
    display: inline-flex;
    margin-left: 8px;
    height: 8px;
    width: 24px;
    background-image: url('../images/arrow_white.png');
    background-repeat: no-repeat;
  }

  &:hover {
    color: $pink;
    background: $blue;
  }
}
