.consultation-card {
    min-height: 220px;
    font-size: 24px;

    .text-button,
    &__detail {
        font-size: 16px;
        color: $green;
    }

    &__pro {
        display: table-caption;
        font-size: 80px;
        line-height: 75px;
        font-family: $heading-font-family;
        text-transform: uppercase;
    }

    &__pro--customer {
        font-family: $font-family;
        font-size: 36px;
        text-transform: none;
        line-height: normal;
    }

    &__yellow-bg {
        background: $yellow;
    }
}