$border:    1px solid $green;

.consultation-card {
    min-height: 220px;
    font-size: 24px;
    border: $border;

    .col-6 + .col-6 {
        @include media-breakpoint-down(lg) {
            border-left: $border;
        }
    }

    .col-12 + .col-12 {
        @include media-breakpoint-up(lg) {
            border-left: $border;
        }

        @include media-breakpoint-down(lg) {
            border-top: $border;
        }
    }

    .col-lg + .col-lg {
        @include media-breakpoint-up(lg) {
            border-left: $border;
        }
    }

    .text-button,
    &__detail {
        font-size: 16px;
        color: $green;
    }

    &__pro {
        font-size: 38px;
        line-height: 36px;
        font-family: $heading-font-family;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            display: table-caption;
            font-size: 80px;
            line-height: 75px;
        }
    }

    &__pro--customer {
        font-family: $font-family;
        font-size: 36px;
        text-transform: none;
        line-height: normal;
    }

    &__yellow-bg {
        background: $yellow;
    }

    &__order {
        color: $white;
        font-size: 16px;
        background: $olive;
        border-top: $border;
    }

    &__zoom-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px;
        margin-top: 8px;
        width: 104px;
        height: 24px;
        font-size: 14px;
        font-family: $sans-serif-font-family;
        background: #007bff;

        .fa-video,
        .fa-external-link-alt {
            height: 14px;
            width: 14px;
            font-size: 14px;
        }

        .fa-video {
            margin-right: 8px;
        }

        .fa-external-link-alt {
            margin-left: 8px;
        }

        &:hover {
            color: $white;
        }
    }

    &__zoom-passcode {
        font-size: 14px;
    }
}