.pro {
    .scfold {
        border: 1px solid $blue;
    }

    &__header-button.scfold {
        height: 31px;
        width: 31px;
        border-right: 0;

        &.bookable {
            background: $pink;
        }
    }

    &__title.scfold {
        flex: 1;
        height: 189px;
        align-items: center;
        justify-content: center;
        border-bottom: 0;
    }

    &__name {
        color: $blue;
    }

    &__attributes {
        color: $green;

        a {
            color: $green;
        }

        div {
            align-items: center;
            height: 50px;
            border: 1px solid $blue;
            border-width: 0 1px 1px 0;

            &:first-child {
                border-top: 1px solid $blue;
            }
        }
    }

    &__details {
        background: $white;
        border-top: 1px solid $blue;
        border-bottom: 1px solid $blue;
    }

    &__image img {
        padding: 0;
        height: auto;
        outline: 1px solid $blue;
    }

    &__content {
        font-size: 20px;
        line-height: 25px;
        font-family: $sans-serif-font-family;
        font-weight: bold;

        p {
            margin-bottom: 0;
        }
    }

    &__services {
        h3 {
            color: $olive;
        }
    }

    &__service {
        line-height: 30px;
        border-bottom: 1px solid $olive;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__booking {
        background: $olive;

        .text-button:hover {
            color: $blue;
        }
    }

    &__booking-heading {
        border: 1px solid $blue;

        h2 {
            color: $blue;
        }
    }
}