.questionnaire {
    background: rgba($olive, 0.2);

    &__label {
        font-size: 14px;
    }

    .form-group {
        border-bottom: 1px solid $olive;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__answer {
        font-family: $font-family-sans-serif;
        font-weight: bold;
    }

    &--photos {
        .form-group {
            border-bottom: 0;
        }
    }

    &__image {
        position: relative;
        max-width: 94px;
    }
}