.search-form {
    height: 38px;
    border: 1px solid $pink;

    input[type=text].form-control {
        color: $white;
        font-size: 16px;
        border: 0;
        background: $blue;

        &::placeholder {
            color: $white;
        }
    }

    button {
        width: 40px;
        color: $white;
        border: 0;
        background: transparent;

        &:hover {
            background: transparent;
        }
    }
}