.search-form {
    .input-group {
        border: 1px solid $pink;

        .search__container & {
            border-color: $blue;
        }
    }

    input[type=text].form-control {
        color: $white;
        font-size: 14px;
        line-height: 28px;
        height: 28px;
        border: 0;
        background: $blue;

        &::placeholder {
            color: $white;
        }
    }

    button {
        width: 30px;
        height: 28px;
        color: $white;
        border: 0;
        background: transparent;

        &:hover {
            background: transparent;
        }

        img {
            margin-bottom: 4px;
        }
    }

    &--page {
        border-bottom: 1px solid $olive;

        .input-group {
            border-color: $blue;
        }

        input[type=text].form-control {
            color: $blue;
            background: $white;

            &::placeholder {
                color: $blue;
            }
        }

        button {
            color: $blue;
            background: $white;

            &:hover {
                background: $white;
            }
        }
    }
}