.text-button {
    color: $white;
    border: 0;
    background: transparent;

    &:after {
        content: '';
        display: inline-flex;
        margin-left: 8px;
        height: 8px;
        width: 24px;
        background-image: url('../images/icons/arrow_pink.svg');
        background-repeat: no-repeat;
    }

    &:hover {
        color: $pink;
    }

    &--blue {
        color: $blue;

        &:after {
            background-image: url('../images/icons/arrow_blue.svg');
        }

        &:hover {
            color: $blue;
        }
    }

    &--green {
        color: $green;

        &:after {
            background-image: url('../images/icons/arrow_green.svg');
        }

        &:hover {
            color: $green;
        }
    }

    &[type="submit"] {
        -webkit-appearance: none;
    }
}