.woocommerce {
	flex: 1;

	.woocommerce-checkout & {
		padding: 4rem $padding-small 0;

		@include media-breakpoint-up(md) {
			padding-left: $padding-medium;
			padding-right: $padding-medium;
		}

		@include media-breakpoint-up(lg) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	form.login,
	form.register,
	.register {
		padding: 0;
		border: 0;

		.small {
			max-width: 90%;
		}
	}

	.woocommerce-checkout & {
		margin: 0 auto;
		max-width: 1008px;
	}

	#order_comments {
		padding: 10px;
		height: 12em;
		line-height: normal !important;
	}

	.coupon-form-submit {
		cursor: pointer;
	}

	.woocommerce-SavedPaymentMethods {
		list-style: none;
		margin: 0;
		padding: 0 0 16px 0;


		.woocommerce-SavedPaymentMethods-token,
		.woocommerce-SavedPaymentMethods-new {
			margin: 0 0 0.5em;

			label {
				cursor: pointer;
			}
		}

		.woocommerce-SavedPaymentMethods-tokenInput {
			vertical-align: middle;
			margin: -3px 0 0 0 !important;
			position: relative;
			accent-color: $blue !important;
		}

		#wc-stripe-new-payment-method {
			accent-color: $blue !important;
		}
	}

	.klaviyo {
		.kl_newsletter_checkbox_field {
			position: relative;
		}

		.container {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}
		}
		
		.checkmark {
			position: absolute;
			top: 5px;
			left: 5px;
			height: 20px;
			width: 20px;
			background-color: $yellow;
			border: 1px solid $green;
		}

		/* When the checkbox is checked, add a blue background */
		.container input:checked ~ .checkmark {
			background-color: $blue;
		}
  
		/* Create the checkmark/indicator (hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}
		
		/* Show the checkmark when checked */
		.container input:checked ~ .checkmark:after {
			display: block;
		}
		
		/* Style the checkmark/indicator */
		.container .checkmark:after {
			left: 7px;
			top: 2px;
			width: 5px;
			height: 12px;
			border: solid $pink;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}

	}

	// gift card apply button
	#pwgc-redeem-button,
	.button.coupon-form-submit {
		height: auto;
		width: auto;
		font-size: 14px;

		@include media-breakpoint-up(lg) {
			margin-left: 10px;
		}
	}

	.button.coupon-form-submit {
		min-width: 160px;
	}
}

.woocommerce__section {
    margin-bottom: 100px;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	padding: 1em 2em 1em 3.5em;
	margin: 0 0 2em;
	position: relative;
    color: $green;
	background-color: transparent;
	list-style: none outside;
    border: 1px solid $green;

	@include clearfix();
	width: auto;
	word-wrap: break-word;

    a {
        color: $green;
        text-decoration: underline;
    }

	&::before {
		font-family: "WooCommerce";
		content: "\e028";
		display: inline-block;
		position: absolute;
		top: 1em;
		left: 1.5em;
	}

	.button {
		float: right;
	}

	li {
		list-style: none outside !important; // Required for default theme compatibility
		padding-left: 0 !important; // Required for default theme compatibility
		margin-left: 0 !important; // Required for default theme compatibility
	}
}

#account_password_field label,
#order_comments_field label {
	display: none;
}

.woocommerce-checkout {
	ul.payment_methods {
		padding: 0 !important;
		border-bottom: 0 !important;
	}

	#payment {
		background: transparent;
		border-radius: 0;

		div.form-row {
			padding: 0;
		}

		.payment_box {
			color: $blue !important;
			background-color: transparent !important;
	
			&:before {
				display: none !important;
			}

			.wc-credit-card-form {
				margin: 0 !important;
			}
		}
		
		ul.payment_methods li input {
			margin: 0;
		}
	}

	#stripe-payment-data p:first-child {
		display: none;
	}

	.wc-stripe-elements-field {
		border: 1px solid $olive;
		margin: 0;
		padding: 0 10px;
		height: 35px;
		background-color: transparent;
	}

	#stripe-card-element iframe {
		height: 35px !important;
	}

	.woocommerce-privacy-policy-text p {
		margin-bottom: 0;
	}

	fieldset#wc-stripe-cc-form label {
		visibility: hidden;
		height: 0;
	}
}

.woocommerce-checkout-review-order {
	margin-top: 30px;

	.woocommerce-Price-amount {
		font-size: 24px;
		height: 30px;
		line-height: 30px;
	}
}

.total .woocommerce-Price-amount {
	font-size: 36px;
	font-weight: 400;
}

.cart-discount .woocommerce-Price-amount {
	font-size: inherit;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	margin-bottom: 8px;
	line-height: 30px;
	background: $pink;

	.woocommerce-checkout & {
		margin-bottom: 30px;
	}
}

.woocommerce-message .wc-forward {
	display: none !important;
}

.woocommerce form .form-row .required {
	display: none;
}

form.edit-account fieldset h3 {
	margin-top: 2rem;
}

.woocommerce-order-pay .woocommerce {
	margin-bottom: 40px;
}