.woocommerce {
	form.login,
	form.register {
		padding: 0;
		border: 0;
	}

	.woocommerce-checkout & {
		margin: 0 auto;
		max-width: 1008px;
	}

	#order_comments {
		padding: 10px;
		height: 12em;
		line-height: normal !important;
	}

	.coupon-form-submit {
		cursor: pointer;
	}
}

.woocommerce__section {
    margin-bottom: 100px;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	padding: 1em 2em 1em 3.5em;
	margin: 0 0 2em;
	position: relative;
    color: $green;
	background-color: transparent;
	list-style: none outside;
    border: 1px solid $green;

	@include clearfix();
	width: auto;
	word-wrap: break-word;

    a {
        color: $green;
        text-decoration: underline;
    }

	&::before {
		font-family: "WooCommerce";
		content: "\e028";
		display: inline-block;
		position: absolute;
		top: 1em;
		left: 1.5em;
	}

	.button {
		float: right;
	}

	li {
		list-style: none outside !important; // Required for default theme compatibility
		padding-left: 0 !important; // Required for default theme compatibility
		margin-left: 0 !important; // Required for default theme compatibility
	}
}

#account_password_field label,
#order_comments_field label {
	display: none;
}

.woocommerce-checkout {
	ul.payment_methods {
		padding: 0 !important;
		border-bottom: 0 !important;
	}

	#payment {
		background: transparent;
		border-radius: 0;

		div.form-row {
			padding: 0;

			&.place-order {
				margin-top: 10px;
			}
		}
	}

	#stripe-payment-data p:first-child {
		display: none;
	}

	.wc-stripe-elements-field {
		border: 1px solid $olive;
		margin: 0;
		padding: 0 10px;
		height: 35px;
		background-color: transparent;
	}

	#stripe-card-element iframe {
		height: 35px !important;
	}

	.woocommerce-privacy-policy-text p {
		margin-bottom: 0;
	}
}

.woocommerce-checkout-review-order {
	margin-top: 30px;

	.woocommerce-Price-amount {
		font-size: 36px;
		height: 30px;
		line-height: 30px;
	}
}

.woocommerce-terms-and-conditions-link {
	text-decoration: underline;
}