.header {
    background: $blue;
    transition: all 1s ease 0s;

    @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
    }

    &__hamburger {
        height: 32px;
        margin-top: -1px;

        &.invisible {
            display: none !important;
        }

        img, svg {
            scale: 1.5;
        }
    }

    &__logo {
        align-items: center;
        justify-content: space-around;
        background: $pink;

        @include media-breakpoint-up(lg) {
            padding-left: $padding-large;
            padding-right: $padding-medium;
            max-width: 400px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 500px;
        }

        @include media-breakpoint-up(xxl) {
            max-width: 540px;
        }

        @include media-breakpoint-down(lg) {
            padding-left: $padding-small;
            padding-right: $padding-small;
        }

        .sticky & {
            display: none !important;
        }

        &--sticky {
            display: none;

            .sticky & {
                padding-left: 24px;

                @include media-breakpoint-up(lg) {
                    display: inline-flex;
                }

                .logged-in & {
                    padding-left: 40px;
                }
            }
        }
    }

    &__logo-image {
        @include media-breakpoint-up(lg) {
            max-width: 375px;

            .woocommerce-page & {
                max-width: 375px;
            }
        }
    }

    &__top {
        padding: 1rem 0;
        margin-top: 24px;
        border-width: 1px 0;

        @include media-breakpoint-down(lg) {
            margin-top: 0;
            background: $green;
        }

        @include media-breakpoint-up(lg) {
            padding: 0;
            border: 1px solid $pink;
            border-width: 1px 0;
        }

        &.invisible {
            @include media-breakpoint-down(lg) {
                padding: 0;
                margin-top: 0;
                max-height: 0;
            }

            @include media-breakpoint-up(lg) {
                visibility: visible !important;
            }             
        }

        .sticky & {
            display: inline-flex;
            justify-content: end;
            height: 100%;
            margin-top: 0;
            border: 0;

        }
    } 

    &__nav {
        background: $blue;

        @include media-breakpoint-down(lg) {
            display: flex;
            flex-direction: column-reverse;
        }

        @include media-breakpoint-up(lg) {
            padding-left: $padding-small;
            padding-right: $padding-large;
        }

        .sticky & {
            display: flex;
            padding: 0;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    &__nav-container {
        display: flex;
        flex-direction: column-reverse;
        max-height: auto;
        transition: max-height 0.5s ease-in;

        @include media-breakpoint-up(lg) {
            flex-direction: column;
            overflow: hidden;
        }

        .sticky & {
            width: auto;
        }
    }

    &__account {
        @include media-breakpoint-down(lg) {
            background: $green;
            text-align: left;
        }

        .col-md-6 {

            @include media-breakpoint-up(lg) {
                border-right: 1px solid $pink;
            }
        }

        .col-md-6 + .col-md-6 {
            border: 0;
        }

        .sticky & {
            display: flex;
            flex-direction: row;
            padding: 0 20px !important;
            align-items: center;
            width: auto;

            @include media-breakpoint-up(xl) {
                padding: 0 24px !important;
            }
        }
    }

    &__account--signed-in {
        .sticky & {
            @include media-breakpoint-up(lg) {
                padding: 0 40px !important;
            }
        }
    }

    &__account-link {
        height: 50%;

        & + & {
            @include media-breakpoint-up(lg) {
                border-top: 1px solid $pink;
            }

            .sticky & {
                padding-left: 20px;
                margin-left: 20px;
                border-top: 0;
                border-left: 1px solid $pink;

                @include media-breakpoint-up(xl) {
                    margin-left: 40px;
                    padding-left: 40px;
                }
            }
        }

        .header__account--signed-in & {
            height: 100%;
        }

        .sticky & {
            height: 100%;
        }
    }

    &__user {
        font-size: 14px;
        line-height: 18px;
        color: $olive;

        &-name {
            color: $pink;
        }

        @include media-breakpoint-up(lg) {
            flex-direction: column;
        }

        @include media-breakpoint-up(xl) {
            flex-direction: row;
        }
    }

    &__search-container {
        @include media-breakpoint-down(lg) {
            padding: 16px $padding-small;
        }

        @include media-breakpoint-up(lg) {
            padding: 16px 0 24px;
        }

        .sticky & {
            display: none;
        }

        &--sticky {
            display: none;

            .sticky & {
                display: flex;
                padding: 0 20px;
                border-right: 1px solid $pink;
                align-items: center;
                width: 300px;

                @include media-breakpoint-up(xl) {
                    width: 360px;
                }

                .header__account--signed-in & {
                    width: 320px;
                }
            }
        }
    }

    &.sticky {
        box-shadow: 0px 1px 5px 2px rgba(#333, 0.25);
    }
}