.header {
    background: $blue;

    @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
    }

    &__hamburger {
        height: 32px;
        margin-top: -1px;

        &.invisible {
            display: none !important;
        }
    }

    &__logo {
        align-items: center;
        justify-content: space-around;
        background: $pink;

        @include media-breakpoint-up(lg) {
            padding-left: $padding-large;
            padding-right: $padding-medium;
            max-width: 400px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 500px;
        }

        @include media-breakpoint-up(xxl) {
            max-width: 540px;
        }

        @include media-breakpoint-down(lg) {
            padding-left: $padding-small;
            padding-right: $padding-small;
        }
    }

    &__logo-image {
        @include media-breakpoint-up(lg) {
            max-width: 375px;
        }
    }

    &__top {
        padding: 1rem 0;
        margin-top: 24px;
        border-width: 1px 0;

        @include media-breakpoint-down(lg) {
            margin-top: 0;
            background: $green;
        }

        @include media-breakpoint-up(lg) {
            padding: 0;
            border: 1px solid $pink;
            border-width: 1px 0;
        }

        &.invisible {
            @include media-breakpoint-down(lg) {
                padding: 0;
                margin-top: 0;
                max-height: 0;
            }

            @include media-breakpoint-up(lg) {
                visibility: visible !important;
            }             
        }
    } 

    &__nav {
        background: $blue;

        @include media-breakpoint-down(lg) {
            display: flex;
            flex-direction: column-reverse;
        }

        @include media-breakpoint-up(lg) {
            padding-left: $padding-small;
            padding-right: $padding-large;
        }
    }

    &__nav-container {
        display: flex;
        flex-direction: column-reverse;
        max-height: auto;
        transition: max-height 0.5s ease-in;

        @include media-breakpoint-up(lg) {
            flex-direction: column;
            overflow: hidden;
        }
    }

    &__account {
        @include media-breakpoint-down(lg) {
            background: $green;
            text-align: left;
        }

        .col-md-6 {

            @include media-breakpoint-up(lg) {
                border-right: 1px solid $pink;
            }
        }

        .col-md-6 + .col-md-6 {
            border: 0;
        }
    }

    &__account-link {
        height: 50%;

        & + & {
            border-top: 1px solid $pink;
        }

        .header__account--signed-in & {
            height: 100%;
        }
    }

    &__user {
        font-size: 14px;
        line-height: 18px;
        color: $olive;

        &-name {
            color: $pink;
        }
    }

    &__search-container {
        @include media-breakpoint-down(lg) {
            padding: 16px $padding-small;
        }

        @include media-breakpoint-up(lg) {
            padding: 16px 0 24px;
        }
    }
}