.main {
    margin-top: 33px;
    padding: 0 20px;

    @include media-breakpoint-up(md) {
        margin-top: 65px;
    }

    .woocommerce-account &,
    .page-template-page-create-account & {
        @include media-breakpoint-up(md) {
            margin-top: 0 !important;
        }
    }

    .page-template-page-full &,
    .page &,
    .single-post & {
        margin-top: 0 !important;
    }

    .single-pro & {
        padding: 0;
    }
}