.main {
    flex: 1 0 auto;
    margin-top: 33px;
    padding: 0 $padding-small;

    @include media-breakpoint-up(lg) {
        margin-top: 65px;
    }

    &__row {
        min-height: 100%;
    }

    .woocommerce-account &,
    .page-template-page-create-account & {
        @include media-breakpoint-up(md) {
            margin-top: 0 !important;
        }
    }

    .page-template-page-full &,
    .page &,
    .single-post & {
        margin-top: 0 !important;
    }

    .single-pro &,
    .single-post &,
    .woocommerce-account & {
        padding: 0;
    }
}