.wp-block-columns,
.wp-block-column {
    margin: 0 auto;
    max-width: 1010px;

    p {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 25px;
    }
}

.wp-block-image {
    margin: 0 auto;
    max-width: 1010px;

    figcaption {
        font-family: $font-family;
        font-size: 14px;
        text-align: left;
        color: $olive;

    }

    img {
        margin-bottom: 16px;
    }
}

.wp-block-separator {
    margin: 1.5rem auto;
    border: 1px solid $olive;
    border-width: 0 0 1px 0;
    max-width: 1010px;
    opacity: 1;
}