.diy-carousel {
    background-size: cover;

    &__scafolding {
        height: calc(100% - 50px);
        border: 1px solid $pink;
        background: linear-gradient(to top right, transparent calc(50% - 1px), $pink, transparent calc(50% + 1px));

        &--left {
            height: 191px;
        }

        &--right {
            height: 512px;
        }
    }

    &__articles {
        @include media-breakpoint-up(md) {
            max-width: 344px;
        }
    }

    &__post {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(191px + 50px); // button
        text-align: center;
        border-color: $pink;

        @include media-breakpoint-up(md) {
            border-width: 1px 0;
        }
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $padding-small;
        height: 191px;
        font-family: $heading-font-family;
        font-size: 38px;
        line-height: 36px;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            padding: $padding-medium;
        }

        @include media-breakpoint-up(lg) {
            padding: $padding-medium;
            font-size: 38px;
            line-height: 36px;
        }
    }

    &__title {
        max-width: 224px;
        margin: 0 auto;
        background: $white;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        color: $pink;
        background: $blue;
        border-color: $pink;
        border-width: 0 0 0 1px;

        &:after {
            background-image: url('../images/icons/arrow_pink.svg');
        }
    }
}