.faqs {
    margin: 0 auto;
    padding: $padding-large 0;
    max-width: 664px;

    @include media-breakpoint-up(md) {
        padding: 90px $padding-medium;
    }

    &--page {
        padding-top: 0;

        .page__content {
            padding-top: 106px;
        }
    }

    &__title {
        margin: 0 0 0 40px;

        @include media-breakpoint-up(md) {
            font-size: 55px;
            line-height: 53px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 80px;
            line-height: 72px;
        }
    }

    &__question {
        background: transparent;
        cursor: pointer;
        color: $blue;
        font-size: 16px;
        padding: 16px 0;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        border-bottom: 1px solid $olive;

        &:before {
            content: '';
            display: inline-flex;
            margin-right: 16px;
            height: 8px;
            width: 24px;
            background-image: url('../images/icons/arrow_blue.svg');
            background-repeat: no-repeat;
        }

        &.faqs__active {
            border-bottom: 0;
        }
    }
      
    &__panel {
        padding: 0 40px;
        display: none;
        overflow: hidden;
        font-family: $sans-serif-font-family;
        font-size: 20px;
        line-height: 25px;
        border-bottom: 1px solid $olive;

        &:last-child {
            border-bottom: 0;
        }

        @include media-breakpoint-up(lg) {
            font-size: 20px;
        }
    }
    
    &__active:before {
        transform: rotate(90deg);
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}