.featured-pros {
    background: $yellow;

    &__wrapper {
        padding: 0 $padding-small;
        max-width: 1510px;

        @include media-breakpoint-up(md) {
            padding: 0 $padding-medium;
        }
    
        @include media-breakpoint-up(lg) {
            padding: 0 $padding-large;
        }

        @include media-breakpoint-down(lg) {
            display: flex;
            flex-direction: column;
        }
    }

    &__image {

       .image-desktop {
           display: none;

            @include media-breakpoint-up(lg) {
               display: block;
            }
       }

       .image-mobile {
            @include media-breakpoint-up(lg) {
               display: none;
            }
       }
    }

    &__posts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: end;
            -webkit-justify-content: flex-end;
            align-items: end;
            align-self: end;
            -webkit-align-items: flex-end;
            margin-left: 130px;
        }
    }

    &__header .col-md-8 {
        height: 94px;
        margin-top: -1px;

        @include media-breakpoint-up(md) {
            margin-top: 0;
            margin-left: -2px;
            height: 209px;
        }

        @include media-breakpoint-up(lg) {
            margin-left: -1px;
        }
    }

    &__header {
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
    }

    &__title {
        @include media-breakpoint-down(md) {
            font-size: 38px;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__top {
        padding: 14px 8px;
    }

    &__bottom {
        display: flex;
        justify-content: flex-end;
        height: 30px;
        border-top: 1px solid $green;
        background: $yellow;
    }

    &__button {
        width: 28px;
        height: 30px;
        border-left: 1px solid $green;

        img {
            width: 16px;
        }
    }

    &__view-all {
        align-self: flex-start;

        a:after {
            content: '';
            display: inline-flex;
            margin-left: 8px;
            height: 8px;
            width: 24px;
            background-image: url('../images/icons/arrow_blue.svg');
            background-repeat: no-repeat;
        }
    }
}