.how-it-works {
    padding: 36px 0 36px $padding-small;

    &.how-it-works--page {
        margin-top: 33px;
        margin-bottom: 4rem;
        padding: 0 $padding-small;
    }

    @include media-breakpoint-up(md) {
        padding: 46px 0 46px $padding-small;

        &.how-it-works--page {
            padding: 33px $padding-medium;
        }
    }

    @include media-breakpoint-up(lg) {
        justify-content: center;
        padding: 36px 0 36px $padding-large;

        &.content-block {
            height: 640px;
        }

        &.how-it-works--page {
            padding: 33px $padding-large;
        }
    }
    
    &__header {
        position: relative;
        height: 106px;

        @include media-breakpoint-up(lg) {
            .content-block & {
                max-width: 345px;
                height: 186px;
            }

            .how-it-works--page & {
                max-width: 290px;
            }
        }

        @include media-breakpoint-up(xl) {
            .how-it-works--page & {
                max-width: 345px;
            }
        }

    }

    &__scafolding {
        border: 1px solid $blue;
        border-width: 1px 0 0 1px;
        background: linear-gradient(to top right, transparent calc(50% - 1px), $blue, transparent calc(50% + 1px));
        
        @include media-breakpoint-up(lg) {
            border-width: 1px;
        }

        .page-template-page-how-it-works .how-it-works__header & {
            @include media-breakpoint-up(md) {
                max-width: 70px;
            }

            @include media-breakpoint-up(lg) {
                max-width: none;
            }
        }
    }

    &__heading {
        border-width: 1px 1px 0 1px;

        h2 {
            max-width: 90px;
            color: $blue;
        }

        @include media-breakpoint-up(lg) {
            border-width: 1px 0;
        }
    }

    &__content {
        align-self: flex-start;
        border-left: 1px solid $blue;

        @include media-breakpoint-up(md) {
            .how-it-works--page & {
                border-left: 0;
            }
        }
    }

    .slick-active {
        background: $olive;
    }

    &__arrows {
        @include media-breakpoint-up(lg) {
            width: 100%;
            justify-content: end;
            -webkit-justify-content: end;
        }
    }

    .slick-arrow {
        border-left: 0;
        background: transparent;

        &.next {
            border-top: 0;
        }

        @include media-breakpoint-up(lg) {
            border-left: 1px solid $blue;
            border-right: 0;

            &.prev {
                border-top: 0;
            }
        }
    }

    &__step {
        padding: 8px 16px;
        border-bottom: 1px solid $blue;

        @include media-breakpoint-down(lg) {
            &:after {
                content: '';
                display: inline-flex;
                margin-left: 8px;
                height: 10px;
                width: 188px;
                background-image: url('../images/icons/arrow_blue_long.svg');
                background-repeat: no-repeat;
            }
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            padding: 0 0 0 20px;
            top: 60px;
            left: -60px;
            height: 70px;
            width: 190px;
            border: 0;
            transform: rotate(90deg);
        }

        .how-it-works--page & {
            @include media-breakpoint-up(md) {
                position: absolute;
                padding: 0 0 0 20px;
                top: 60px;
                left: -60px;
                height: 70px;
                width: 190px;
                border: 0;
                transform: rotate(90deg);

                &:after {
                    display: none;
                }
            } 
        }

        img {
            display: inline-block;
            transform: rotate(-90deg);

            @include media-breakpoint-up(lg) {
                margin: 0 0 0 40px;
            }

            .how-it-works--page & {
                @include media-breakpoint-up(md) {
                    margin: 0 0 0 40px;
                }
            }
        }
    }

    &__title {
        padding: 16px 16px 6px;
        color: $blue;
        border-bottom: 1px solid $blue;

        @include media-breakpoint-up(lg) {
            margin-left: 69px;
            padding: 16px 24px;
            line-height: initial;
            border-left: 1px solid $blue;
            border-bottom: 0;

            .content-block & {
                font-size: 80px;
            }
        }

        .how-it-works--page & {
            display: flex;
            justify-content: space-between;
            padding: 0;
            width: 100%;

            span {
                padding: 16px;

                @include media-breakpoint-up(md) {
                    padding: 16px 24px;
                }
            }

            @include media-breakpoint-up(md) {
                margin-left: 69px;
                padding: 0;
                line-height: initial;
                border-left: 1px solid $blue;
                border-bottom: 0;
            }

            @include media-breakpoint-up(xl) {
                font-size: 80px;
            }
        }

        .how-it-works__scafolding {
            width: 70px;
            border-width: 0 0 0 1px;

            @include media-breakpoint-up(lg) {
                width: 70px;
            }
        }
    }

    &__description {
        padding: 20px 16px;
        font-size: 20px;
        line-height: 125%;
        color: $blue;
        font-family: $sans-serif-font-family;

        @include media-breakpoint-up(md) {
            .how-it-works--page & {
                min-height: 220px;
                border-left: 1px solid $blue;
            }
        }

        @include media-breakpoint-up(lg) {
            display: flex;
            padding: 0;
            height: auto;
            font-size: 28px;

            .how-it-works--page & {
                padding: 28px 30px;
                min-height: 240px;
            }

            .how-it-works__scafolding {
                width: 69px;
                border-width: 0 0 0 1px;
            }

            .content-block & {
                span {
                    padding: 16px 24px;
                }
            }
        }

        .content-block & {
            height: 170px;
        }

        .how-it-works--page & {
            width: 100%;
        }
    }

    &__blurb {
        margin-top: 10px;
        line-height: 24px;
        font-family: $font-family;
    }

    &__section {
        .content-block & {
            width: calc(100vw - 72px);
            border-left: 0;
        }

        @include media-breakpoint-up(md) {
            .content-block & {
                width: 330px;
            }
        }

        @include media-breakpoint-up(lg) {
            .content-block & {
                width: 492px;
                max-width: 492px;
            }
        }

        .how-it-works--page & {
            border-left: 0;
            border-bottom: 0;

            &:last-child .how-it-works__description {
                border-bottom: 1px solid $blue;
            }

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }
        }

        &:not(.slick-active) {
            background: transparent !important;
        }
    }

    &__top {
        position: relative;

        @include media-breakpoint-up(md) {
            .how-it-works--page & {
                height: 190px;
                border-bottom: 1px solid $blue;
                border-left: 1px solid $blue;
            }
        }

        @include media-breakpoint-up(lg) {
            height: 190px;
            border-bottom: 1px solid $blue;
        }
    }

    &--page {
        margin: 0 auto;
        max-width: 1510px;
    }

    &__wrapper {
        background: $pink;
    }

    &__page-content {
        padding: 45px $padding-small;
        margin: 0 auto;
        max-width: 1510px;

        @include media-breakpoint-up(md) {
            padding: 90px $padding-medium;
        }

        @include media-breakpoint-up(lg) {
            padding: 90px $padding-large;
        }

        @media (min-width: 1510px) {
            padding: 90px 0;
        }
    }

    &__faqs {
        background-color: $white;
    }
}