.related-articles {
    background: $olive;

    &__wrapper {
        padding: 0 $padding-small;
        max-width: 1006px;

        @include media-breakpoint-up(md) {
            padding: 0 $padding-medium;
        }
    }

    &__header .col-md-8 {
        height: 94px;
        margin-top: -1px;

        @include media-breakpoint-up(md) {
            margin-top: 0;
            margin-left: -2px;
            height: 209px;
        }

        @include media-breakpoint-up(lg) {
            margin-left: -1px;
        }
    }

    &__header {
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
    }

    &__title {
        @include media-breakpoint-down(md) {
            font-size: 38px;
        }

        span {
            @include media-breakpoint-up(md) {
                display: table-caption;
            }
        }
    }
}