.bookly-btn {
  text-decoration: none;
}

.bookly-btn[disabled] {
  opacity: 0.5;
}

.bookly-form .bookly-btn + input[type=file] {
  width: 0;
  height: 0;
  opacity: 0;
  display: block;
}



// .bookly-btn {
//   padding: 9px 18px !important;
//   border: 0 !important;
//   min-width: 118px;
//   display: block;
//   text-align: center;
//   line-height: normal;
//   border-radius: 4px !important;
//   background: #f4662f;
//   cursor: pointer !important;
//   height: auto !important;
//   outline: none !important;
// }

// .bookly-btn,
// .bookly-btn > span {
//   color: #fff !important;
//   font-size: 18px !important;
//   line-height: 17px !important;
//   font-weight: bold !important;
//   text-transform: uppercase !important;
// }

// button.bookly-btn:hover,
// button.bookly-btn:active,
// button.bookly-round:hover,
// button.bookly-round:active,
// button.bookly-square:hover,
// button.bookly-square:active {
//   background-image: none !important;
// }

// /* Details */
// .bookly-guest > .bookly-btn {
//   display: inline-block;
//   margin: 0 14px 12px 0;
// }

// .bookly-modal .bookly-modal-content .bookly-modal-footer .bookly-btn-submit:focus,
// .bookly-modal .bookly-modal-content .bookly-modal-footer .bookly-btn-submit:active,
// .bookly-modal .bookly-modal-content .bookly-modal-footer .bookly-btn-submit:hover,
// .bookly-modal .bookly-modal-content .bookly-modal-footer .bookly-btn-submit {
//     display: inline-block;
//     padding: 6px 12px !important;
//     border: 0;
//     margin-bottom: 0;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 1.42857143;
//     text-align: center;
//     white-space: nowrap;
//     vertical-align: middle;
//     cursor: pointer;
//     border-radius: 4px;
//     color: #fff;
//     text-transform: capitalize;
// }

// .bookly-modal .bookly-modal-content .bookly-modal-footer .bookly-btn-cancel {
//     border: 0;
//     background: none;
//     color: #21759b;
//     cursor: pointer;
//     padding: 0;
//     vertical-align: -2px;
//     font-size: 14px;
// }

// .bookly-btn {
//   width: auto !important;
//   min-width: 0;
//   padding: 9px 18px !important;
//   background-image: none !important;
// }

