#bookly-tbs .bookly-js-holidays {
    height: 633px;
    width: 633px;

    .jCalMo {
        padding: 0;

        .dow, .day, .pday {
            margin: 10px;
            line-height: 58px;
            height: 58px;
            width: 58px;
            background: transparent;
            border: 0 !important;
        }

        .pday {
            color: $olive;
        }

        .selectedDay,
        .holidayDay {
            background: $pink !important;
            border-radius: 30px;
            color: $blue;
        }
    }

    .jCal .month {
        padding-bottom: 8px;
        border-bottom: 1px solid $olive;
    }

    .jCal .monthName {
        margin-left: 80px;
        font-size: 13px;
        text-align: left;
    }

    &__arrows {
        position: absolute;
        top: 16px;
        left: 0;
        z-index: 1;
    }
}

.btn.btn-default.bookly-js-jCalBtn {
    color: $blue !important;
    background-color: transparent !important;
    border: 0;
    border-color: transparent !important;

    &:disabled {
        color: $blue !important;
        background-color: transparent !important;
        border: 0;
        border-color: transparent;
    }
}

#bookly-tbs .btn-default:disabled {
    background-color: transparent;
    border: 0;
    border-color: transparent;
}

