#bookly-tbs.bookly-staff-cabinet,
.bookly-staff-cabinet {
    padding: 30px;
    color: $blue;
    font-family: $font-family;
    background: rgba($olive, 0.2);

    .bookly-js-range-row {
        padding: 10px 0;
        border-bottom: 1px solid $olive;
    }

    .bookly-js-special-days-toggle-popover.btn.btn-link,
    .bookly-js-toggle-popover.btn.btn-link {
        color: $blue;
        font-family: $font-family;
        text-decoration: underline;

        #bookly-tbs & {
            color: $blue;
            font-family: $font-family;
            text-decoration: underline;
        }
    }

    #bookly-tbs &,
    .break-list & {
        .btn.btn-info {
            padding: 10px;
            color: $blue;
            font-family: $font-family;
            background-color: $pink;
            border: 0;
            border-radius: 0;
        }
    }

    .btn {
        font-size: inherit;
    }

    .btn.btn-info {
        padding: 10px;
        color: $blue;
        font-family: $font-family;
        background-color: $pink;
        border: 0;
        border-radius: 0;
    }

    .jCalMo {
        width: 100% !important;
        height: auto;
        float: none;
    }
}