.bookly-time-step {
  display: inline-flex;
  margin-bottom: 30px;
  width: 246px;
  overflow-y: scroll;

  .bookly-columnizer-wrap {
    position: relative;
    width: 100%;
  }
}

.bookly-column {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  width: 100%;
}