.pros,
.archives {
    margin: 0 auto;
    max-width: 1440px;

    &__row:after {
        @include media-breakpoint-up(lg) {
        content: "";
        flex: auto;
        }
    }

    &__pro,
    &__archive {
        max-width: 321px;
    }

    &__details {
        max-width: 281px;
    }

    &__bookable {
        max-width: 31px;
    }

    &__header-button.mb-borders {
        height: 31px;
        width: 31px;
        border-left: 0;

        &.bookable {
            background: $pink;
        }
    }

    &__title {
        background: $white;
    }

    &__pro-name {
        font-family: $heading-font-family;
        font-size: 28px;
        text-transform: uppercase;
    }

    &__trade {
        color: $green;
    }
}

.pros {
    &__image {
        height: 228px;
        background: rgba($olive, 0.2);
    }
}

.archives {
    &__image {
        height: 321px;
        background: rgba($olive, 0.2);
    }

    &__name {
        font-size: 20px;
        font-family: $sans-serif-font-family;
    }
}