.my-account {
    display: flex;
    background: $white;

    &__nav {
        background: $yellow;

        @include media-breakpoint-up(md) {
            max-width: 345px;
        }

        @include media-breakpoint-down(md) {
            padding: 0 $padding-small;
        }
    }

    &__wrapper {
        margin-top: 24px;

        @include media-breakpoint-up(md) {
            margin: 135px auto;
            max-width: 1008px;
        }
    }
}

.woocommerce-account {
    .woocommerce-MyAccount-navigation {
        float: none;
        width: auto;
    }

    .woocommerce-MyAccount-content {
        margin-bottom: 100px;

        @include media-breakpoint-down(md) {
            padding: 30px $padding-small;
        }
    }
}