.my-account {
    display: flex;
    background: $white;

    &__nav {
        background: $yellow;
    }

    .woocommerce-account & {
        .woocommerce-MyAccount-navigation {
            @include media-breakpoint-up(md) {
                width: 345px;
            }
        }
    }
}