.my-account {
    display: flex;
    background: $white;

    &__nav {
        background: $yellow;

        @include media-breakpoint-up(md) {
            max-width: 345px;
        }
    }
}

.woocommerce-account {
    .woocommerce-MyAccount-navigation {
        float: none;
        width: auto;
    }

    .woocommerce-MyAccount-content {
        margin-bottom: 100px;
    }
}