.page {
    &__image-wrapper {
        position: absolute;
        z-index: -1;
        top: 0;
        overflow: hidden;
        width: 100%;

        @include media-breakpoint-up(md) {
            height: 622px;
            background-color: rgba($olive, 0.4);
        }
    }

    &__featured-image {
        height: auto !important;
    }

    &__content-wrapper {
        flex-direction: column;
        margin: 44px 24px;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            align-items: start;
        }

        @include media-breakpoint-up(xl) {
            flex-direction: row;
            margin-top: 215px;
            margin-left: 215px;
            align-items: start;
        }
    }

    &__title,
    &__content {
        background: $white;
    }

    &__title {
        @include media-breakpoint-up(lg) {
            width: 344px;
        }

        @include media-breakpoint-down(lg) {
            font-size: 38px;
        }
    }

    &__content {

        @include media-breakpoint-up(lg) {
            margin: 88px 0 88px -1px;
            width: 834px;
        }

        @include media-breakpoint-up(sm) {
           padding: 44px;
        }

        @include media-breakpoint-down(sm) {
           padding: 44px 20px;
        }
    }

    &__content-inner {
        @include media-breakpoint-up(lg) {
            margin: 60px auto;
            max-width: 664px;
        }
    }
}