.page {

    &__content-wrapper {
        min-height: 100%;

        .page-template-page-account & {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    &__content {
        min-height: 100%;
    }

    &__content-inner {
        .page-template-page-account & {
            height: 100%;
        }
    }

    &__image-wrapper {
        .woocommerce-page & {
            display: none;
        }
    }
}

.page:not(.woocommerce-page) {

    .page__image-wrapper {
        position: absolute;
        z-index: -1;
        top: 0;
        overflow: hidden;
        width: 100%;

        @include media-breakpoint-up(md) {
            height: 622px;
        }
    }

    .page__featured-image {
        height: auto !important;
    }

    .page__content-wrapper {
        display: flex;
        flex-direction: column;
        margin: 44px 24px;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            align-items: start;
        }

        @include media-breakpoint-up(xl) {
            flex-direction: row;
            padding-top: 215px;
            padding-left: 215px;
            align-items: start;
        }
    }

    .page__title,
    .page__content {
        border: 1px solid $pink;
        background: $white;
    }

    .page__title {
        @include media-breakpoint-up(lg) {
            width: 344px;
        }

        @include media-breakpoint-down(lg) {
            font-size: 38px;
        }
    }

    .page__content {

        @include media-breakpoint-up(lg) {
            margin: 88px 0 88px -1px;
            width: 834px;
        }

        @include media-breakpoint-up(sm) {
           padding: 44px;
        }

        @include media-breakpoint-down(sm) {
           padding: 44px 20px;
        }
    }

    .page__content-inner {
        @include media-breakpoint-up(lg) {
            margin: 60px auto;
            max-width: 664px;
        }
    }
}

.woocommerce-page {
    .page__title {
        display: none;
    }
}