.single-product {
    display: flex;
}

.related.products {
    display: none;
}

.product {
    font-family: $font-family;

    &__title {
        padding: 16px 0 0;
        color: $blue;
        font-size: 38px;
        line-height: 40px;

        @include media-breakpoint-up(sm) {
            font-size: 55px;
            line-height: 90%;
        }

        @include media-breakpoint-up(md) {
            padding: 40px 0 0;
        }
    }

    p.price {
        font-family: $sans-serif-font-family;
        color: $green !important;
    }

    .variations select {
        padding: 4px;
        color: $blue;
        background: transparent;
        border: 1px solid $olive;
    }

    .pwgc-subtitle {
        color: $olive;
        font-size: 12px;
        margin-top: 4px;
    }

    #pwgc-message {
        padding: 4px 8px;
        color: $blue;
        background: transparent;
        border: 1px solid $olive;
    }

    button.single_add_to_cart_button,
    button.single_add_to_cart_button.disabled.wc-variation-selection-needed {
        margin: 16px 0;
        color: $green;
        background: $pink;

        &:hover {
            color: $pink;
            background: $blue;
        }

        &:after {
            background-image: url('../images/icons/arrow_blue.svg');
        }

        &:hover:after {
            background-image: url('../images/icons/arrow_white.svg');
        }
    }

    .product_meta {
        display: none;
    }
}