.pros,
.archives {
    margin: 0 auto $padding-large;
    max-width: $max-content-width;
    padding: 0 $padding-small;

    &__row {
        @include media-breakpoint-up(md) {
            justify-content: space-between;
        }

        &:after {
            @include media-breakpoint-up(md) {
                content: "";
                flex: auto;
            }
        }
    }

    &__pro,
    &__archive {
        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
        }

        @include media-breakpoint-up(md) {
            padding-left: 0;
            padding-right: 16px;
        }

        @include media-breakpoint-up(lg) {
            padding-right: 22px;
        }

        &:last-child {
            @include media-breakpoint-down(md) {
                margin-bottom: 0 !important;
            }
        }
    }

    &__bookable {
        max-width: 41px;
    }

    &__header-button.mb-borders {
        height: 41px;
        width: 41px;
        border-left: 0;
        align-items: center;

        &.bookable {
            background: $pink;
        }

        img {
            height: 18px;
            width: 18px;
        }
    }

    &__title {
        padding: 14px 10px 10px 10px;
        line-height: 26px;
        background: $white;
    }

    &__pro-name {
        font-family: $heading-font-family;
        font-size: 28px;
        height: 74px;
        text-transform: uppercase;
    }

    &__trade {
        padding: 8px;
        line-height: 18px;
        font-size: 14px;
        color: $green;
    }
}

.pros {

    &__image-wrapper {
        display: block;
        height: 208px;
        background-size: cover;

        @include media-breakpoint-up(md) {
            height: 161px;
        }

        @include media-breakpoint-up(lg) {
            height: 208px;
        }
    }

    &__image {
        background: rgba($olive, 0.2);

        @include media-breakpoint-up(md) {
            height: 161px;
        }

        @include media-breakpoint-up(lg) {
            height: 208px;
        }
    }

    &__pro-name {
        background: $white;
    }

    &__title {
        display: table-caption;
    }
}

.archives {
    margin-top: 20px;

    @include media-breakpoint-up(md) {
        margin-top: 80px;

        .search-results & {
            margin-top: 0;
        }
    }

    &__pro {
        .archives__archive & {
            padding-right: 0;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        border-color: $olive;
    }

    &__image-container {
        height: 311px;
        background-size: cover;

        @include media-breakpoint-up(md) {
            height: 264px;
        }

        @include media-breakpoint-up(lg) {
            height: 311px;
        }
    }

    &__name {
        height: auto !important;
        font-size: 20px;
        font-family: $sans-serif-font-family;
    }
}