.pros {
    margin: 0 auto;
    max-width: 1440px;

    &__row:after {
        @include media-breakpoint-up(lg) {
        content: "";
        flex: auto;
        }
    }

    &__pro,
    &__archive {

        @include media-breakpoint-up(lg) {
            max-width: 321px;
        }

        &:last-child {
            @include media-breakpoint-down(md) {
                margin-bottom: 0 !important;
            }
        }
    }

    &__pro {
        @include media-breakpoint-down(md) {
            padding-right: 14px !important;
        }
    }

    &__bookable {
        max-width: 41px;
    }

    &__header-button.mb-borders {
        height: 41px;
        width: 41px;
        border-left: 0;
        align-items: center;

        &.bookable {
            background: $pink;
        }

        img {
            height: 18px;
            width: 18px;
        }
    }

    &__title {
        padding: 14px 10px 10px 10px;
        line-height: 26px;
        background: $white;
    }

    &__pro-name {
        font-family: $heading-font-family;
        font-size: 28px;
        text-transform: uppercase;
    }

    &__trade {
        color: $green;
    }
}

.pros {

    &__image-wrapper {
        display: block;
        height: 208px;
        overflow: hidden;
    }

    &__image {
        min-height: 228px;
        background: rgba($olive, 0.2);

        @include media-breakpoint-up(md) {
            height: 228px;
        }
    }

    &__details {
        @include media-breakpoint-up(md) {
            max-width: 281px;
        }
    }

    &__pro-name {
        background: $white;
    }

    &__title {
        display: table-caption;
    }
}