$border:    1px solid $blue;

.booking-card {
    background: $white;
    border: $border;

    &__label {
        border-bottom: $border;
        border-right: $border;

        .col-md-4:last-child & {
            @include media-breakpoint-up(md) {
               border-right: 0; 
            }
        }
    }

    .col-md-4:last-child {
        @include media-breakpoint-up(md) {
            
        }
    }


    &__detail {
        @include media-breakpoint-up(md) {
            border-right: $border;
            font-size: 36px;
        }

        @include media-breakpoint-down(md) {
            border-bottom: $border;
        }

        .col-md-4:last-child & {
            @include media-breakpoint-up(md) {
               border-right: 0; 
            }
        }
    }

    &__action {
        background: $pink;

        @include media-breakpoint-up(md) {
            border-top: $border;
        }
    }
}